# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env

# Package build artifacts
build/
dist/
*.egg-info/

# PyInstaller output
*.spec

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs, input and temp files
*.log
*.tmp
*.txt
*.csv
*.xlsx

# Your config and secrets
create_dmp/.env
