<html>
 <body>
    <p>
        <em>*English version below*</em>
    </p> 
    <p>
        <strong>Gratulerar till forskningsbidraget!</strong>
    </p>
    <p>
        Flera finansiärer har krav på att en datahanteringsplan (DHP) upprättas för beviljade projekt. En sådan plan beskriver hur forskningsdata skapas, hanteras och bevaras under och efter projektet. Som medelsförvaltare behöver Chalmers, i detta fall prefekten, kunna intyga att en datahanteringsplan finns på plats och kan visas upp på förfrågan. <a href="https://www.vr.se/soka-finansiering/krav-och-villkor/ta-fram-en-datahanteringsplan.html">Läs mer här</a>.<br /> 
        Datahanteringsplanen är också ett verktyg som stödjer flera aspekter av hanteringen av forskningsdata, se exempelvis <a href="https://webbpublicering360.portal.chalmers.se/Intern/Home/Download?recordnor=996417%262024_09%261237007_1_1.PDF%26pl">Chalmers riktlinje för god forskning</a>.
    </p> 
    <p>
        Ett utkast till datahanteringsplan har skapats i <strong>Data Stewardship Wizard (DSW):</strong>
        <ul>
            <li><strong>Projektnummer:</strong> {projectid}</li>
            <li><strong>Titel:</strong> {dmptitle}</li>
            <li><strong>URL:</strong> <a href="{dmpurl}">{dmpurl}</a></li>
        </ul>
    </p>
    <p>
        <strong>Åtgärder i DSW</strong>
        <ul>
            <li>Logga in i <a href="https://dsw.chalmers.se">dsw.chalmers.se</a> med ditt Chalmers-ID (CID).</li>
            <li>Besvara relevanta frågor i utkastet. (Använd URL ovan!) Rödmärkta frågor rekommenderas att besvara.</li>
            <li>Svaren sparas automatiskt och planen kan uppdateras vid behov.</li>
        </ul>
    </p>
    <p>
        <strong>Viktigt!</strong>
        <ul>
            <li>Ge prefekt och proprefekt åtkomst till den ifyllda planen via delningsfunktionen i DSW (övre högra hörnet).</li>
            <li>Om planen skapas utanför DSW, skicka den till <a href="mailto:dataoffice@chalmers.se">dataoffice@chalmers.se</a> för diarieföring.</li>
            <li>Du når din DHP även ifrån din <a href="https://research.chalmers.se/myresearch/?tab=projects">projektsida i Chalmers Research</a></li>
        </ul>   
    </p> 
    <p>
        <strong>Stöd och frågor</strong>
        <br>   
        Chalmers Datakontor (del av e-Commons) ger stöd i frågor kring datahantering och datapublicering. Välkomna att kontakta oss!
    </p>
    <p>
        Med vänlig hälsning,
    <br/>
        Jeremy Azzopardi, Koordinator Chalmers Datakontor<br/>
        Sverker Holmgren, Föreståndare Chalmers E-commons<br/>
    </p>
    <p>
        ------------------------------------------------------------------------------------------------------------------
    </p>
    <p>
        <strong>Congratulations on your grant approval from Formas!</strong>
    </p>
    <p>
        Several funders require a Data Management Plan (DMP) for funded projects. A DMP outlines how research data is created, managed, and preserved. It supports good data management throughout the project. As the administrating organisation Chalmers, in this case, the Head of Department, must be able to certify that a DMP is in place and can be delivered on request. Read more about <a href="https://www.vr.se/english/applying-for-funding/requirements-terms-and-conditions/producing-a-data-management-plan.html">Requirements for DMP</a>.<br/> 
        The data management plan is also a tool to support good data management in more aspects, e.g. see <a href="https://webbpublicering360.portal.chalmers.se/Intern/Home/Download?recordnor=996417%262024_09%261237007_1_1.PDF%26pl">Chalmers Guiding principle for good research practice</a>
    </p> 
    <p>
        A draft DMP for your project is available in <strong>Data Stewardship Wizard (DSW):</strong>
        <ul>
            <li><strong>Project Number:</strong> {projectid}</li>
            <li><strong>Title:</strong> {dmptitle}</li>
            <li><strong>URL:</strong> <a href="{dmpurl}">{dmpurl}</a></li>
        </ul>
    </p>
    <p>
        <strong>Actions in DSW</strong>
        <ul>
            <li>Log in to <a href="https://dsw.chalmers.se">dsw.chalmers.se</a> with your Chalmers ID (CID).</li>
            <li>Answer relevant questions in the draft. Questions marked in red are recommended.</li>
            <li>Responses are saved automatically and can be updated anytime.</li>
        </ul>
    </p>
    <p>
        <strong>Important!</strong>
        <ul>
            <li>Grant access to the completed DMP to the Head and Deputy Head of Department, using the sharing function in DSW (top right corner).</li>
            <li>If the plan is created outside DSW, send it to <a href="mailto:dataoffice@chalmers.se">dataoffice@chalmers.se</a> for archiving.</li>
            <li>You can also access your DMP from your <a href="https://research.chalmers.se/myresearch/?tab=projects">project page in Chalmers Research</a></li>
        </ul>   
    </p> 
    <p>
        <strong>Support and Questions</strong>
        <br/>   
        Chalmers Data Office (part of e-Commons) provides support for data management and data publication. Welcome to contact us!
    </p>
    <p>
        Best regards,
    <br/>
        Jeremy Azzopardi, Coordinator, Chalmers Data Office<br/>
        Sverker Holmgren, Director, Chalmers e-Commons<br/>
    </p>
    <p>
        ---<br/>
        Chalmers Data Office<br/>
        E-commons<br/>
    <br/>
    CHALMERS<br/>
    Chalmers University of Technology<br/>
    SE-412 96 Gothenburg, Sweden<br/>
    --<br/>
    https://www.chalmers.se/en/infrastructure/ecommons/chalmers-data-office/<br/>
    E-mail: dataoffice@chalmers.se<br/>
    </p>
 </body>   
</html>
